* {
    padding: 0;
    margin: 0;
  }

  body {
    background-color: #005e8d;
    font-family: sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }

  /* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(0, 38, 255, 0.548);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .footer {
    grid-area: footer;
    background: rgb(0, 0, 0);
    margin-top: 70px;
  }
  
  footer ul {
    max-width: 100%;
    margin: 2em auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
   
  footer ul li {
    list-style: none;
    align-self: flex-end;
  }
   
  footer ul li a {
    text-decoration: none;
    color: #c1c6ce;
  }
   
  footer ul li img {
    width: 8%;
    margin-right: 25px;
    margin-left: 200px;
  
  }
   
  footer p {
    font-size: 0.8em;
    margin-right: 25px;
    margin-left: 200px;
    margin-top: 10px;
  
  }
  
  footer ul {
    max-width: 900px;
    margin: 0 auto;
    padding: 1em 0;
  }
  
  footer ul li a img {
    width: 20%;
  }

  .h1 {
    font-family: 'Trebuchet MS',sans-serif;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .imgtop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }

/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.pprog {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
  font-family: 'Trebuchet MS',sans-serif;
}

.sinemimg {
  width: 500px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.dsgimg {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
